*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

#div_id_search_field {
  margin-bottom: 0 !important;
}

.form-control:focus {
  border-color: $color-primary;
  box-shadow: 0 0 0 .2rem $color-transparent-primary;
}