
.brand-content {
  display: flex;
  flex-direction: column;

  &__right-img {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__title {
        padding: 1rem 0;
        font-size: 2rem;
        color: $color-primary;
      }

      &__content {
        padding: .25rem 0;
      }
    }

    &__right {
      &__img {
      max-width: 400px;
    }
    }
  }

  &__left-img {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__title {
        padding: 1rem 0;
        font-size: 2rem;
        color: $color-primary;
      }

      &__content {
        padding: .25rem 0;
      }
    }

    &__left {
      &__img {
      max-width: 400px;
    }
    }
  }
}