@import "../abstract/variables";

.footer {
  display: flex;
  flex-direction: column;
  //background-color: $color-complementary-dark;
  background-color: $color-secondary;
  min-height: $height-footer;
  padding: 3rem 7rem;

  &__section-one {
    display: flex;
    flex-direction: row;

    &__brand {
      display: flex;
      flex-direction: column;

      &__identity {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__logo {
          width: 50px;
        }
      }
      &__link-cols {
        display: flex;
        flex-direction: row;

        &__col {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}