
//Color Variables
$color-primary: #fe019a;
$color-secondary: #dc97b3;
$color-white: #ddd7c6;
$color-complementary: #548CA8;
$color-complementary-dark: #476072;

$color-transparent-primary: rgba(254,1,154,0.25);


// Height Variables
$height-footer: 10rem;
$height-navbar: 5rem;