
//Color Variables
$color-primary: #334257;
$color-secondary: #00b2ff;
$color-white: #EEEEEE;
$color-complementary: #548CA8;
$color-complementary-dark: #476072;


// Height Variables
$height-footer: 10rem;
$height-navbar: 5rem;